<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head') %>
  <meta name="viewport" content="initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width">
  <script src="https://aframe.io/releases/1.3.0/aframe.min.js"></script>
  <script src="https://unpkg.com/aframe-html-shader@0.2.0/dist/aframe-html-shader.min.js"></script>
</head>

<body>
<header>
  <%- include('../partials/nav') %>
</header>

<section class="section">
  <div class="container has-text-centered">
    <h1 class="title is-1">Welcome Home! <%= user_info.name%></h1>
  </div>
</section>

<style>
  a-scene {
    height: 600px;
    width: 80%;
    left: 50%;
    margin: 0 0 0 -40%;
  }
</style>

<div class="container" id="myEmbeddedScene">
  <a-scene embedded>
    <a-assets>
      <!--put models here-->
    </a-assets>

    <!--a-entity geometry="primitive: box" material="shader: html; target: #htmlElement"></a-entity-->

    <!-- Sky -->
    <a-sky color="#E9E9E9"></a-sky>
    <!-- Ambient Light -->
    <a-entity light="type: ambient; color: #A1A1A1"></a-entity>
    <!-- Directional Light -->
    <a-entity light="type: directional; color: #BBBBBB; intensity: 0.5; castShadow: true" position="2 2 1"></a-entity>

    <!-- Camera -->
    <a-entity position="0 0 0" rotation="0 0 0">
      <a-camera user-height="1.6" active="true">
        <a-entity id="myCursor"
                  animation__click="property: scale; startEvents: click; easing: easeInCubic; dur: 150; from: 0.001 0.001 0.001; to: 0.01 0.01 0.01"
                  animation__fusing="property: scale; startEvents: fusing; easing: easeInCubic; dur: 1500; from: 0.01 0.01 0.01; to: 0.001 0.001 0.001"
                  animation__mouseleave="property: scale; startEvents: mouseleave; easing: easeInCubic; dur: 500; to: 0.01 0.01 0.01"
                  cursor="fuse: true;"
                  material="color: #C0C0C0; shader: flat"
                  position="0 0 -1"
                  scale="0.01 0.01 0.01"
                  geometry="primitive: ring"
                  raycaster="objects: .clickable">
        </a-entity>
        <a-entity text="value: Hello World;" position="0 0 1"></a-entity>
      </a-camera>
    </a-entity>

    <% if(room_info.roomLayout[0] == 1) { %>
      <a-entity text="font: mozillavr; color: #9966ff; value: Hi!"
                position="2 4.2 -5" rotation="0 0 0" scale="6 6 6" anchor="center"></a-entity>
      <a-entity text="font: mozillavr; color: #9966ff; value: I'm <%= user_info.name%> (<%= user_info.pronouns%>)"
                position="2 3.8 -5" rotation="0 0 0" scale="6 6 6" anchor="center"></a-entity>
      <a-entity text="font: mozillavr; color: #9966ff; value: <%= user_info.bio%>"
                position="2 3.4 -5" rotation="0 0 0" scale="6 6 6" anchor="center"></a-entity>
      <a-entity text="font: mozillavr; color: #9966ff; value: I'm from <%= user_info.country%> and I speak <%= user_info.language%>"
                position="2 3 -5" rotation="0 0 0" scale="6 6 6" anchor="center"></a-entity>
    <% }%>

    <a-entity text="font: mozillavr; color: #660033; value: Welcome to <%= room_info.roomName%>"
              position="2 0.8 -2.2" rotation="0 0 0" scale="6 6 6" anchor="center"></a-entity>
    <a-entity text="font: mozillavr; color: #660033; value: <%= room_info.message%>"
              position="2 0.4 -2.2" rotation="0 0 0" scale="6 6 6" anchor="center"></a-entity>

    <% if(room_info.roomLayout[1] == 0) { %>
      <a-box position="-1 0.5 -3" rotation="0 45 0" color="#4CC3D9"></a-box>
    <% } else if(room_info.roomLayout[1] == 1) { %>
      <a-entity geometry="primitive: cone; radiusBottom: 1; radiusTop: 0"
                position="-1 0.5 -3" rotation="0 45 0" material="color: #4CC3D9"></a-entity>
    <% } else if(room_info.roomLayout[1] == 2) { %>
      <a-entity geometry="primitive: torus; radius: 1; radiusTubular: 0.1; arc: 360"
                position="-1 0.5 -3" rotation="0 45 0" material="color: #4CC3D9"></a-entity>
    <% }%>

    <% if(room_info.roomLayout[2] == 0) { %>
      <a-sphere position="0 1.25 -5" radius="1.25" color="#EF2D5E"></a-sphere>
    <% } else if(room_info.roomLayout[2] == 1) { %>
      <a-sphere position="0 1.25 -5" radius="1.25" color="#71ef2d"></a-sphere>
    <% } else if(room_info.roomLayout[2] == 2) { %>
      <a-sphere position="0 1.25 -5" radius="1.25" color="#2d40ef"></a-sphere>
    <% }%>

    <a-cylinder position="1 0.75 -3" radius="0.5" height="1.5" color="#FFC65D"></a-cylinder>
    <a-plane position="0 0 -4" rotation="-90 0 0" width="4" height="4"></a-plane>

    <a-asset-item id="messageText" src="../../../static/pages/info.html"></a-asset-item>
  </a-scene>
</div>

  <script async type="text/javascript" src="../js/bulma.js"></script>

<div class="column is-8 is-offset-2">
  <hr class="login-hr">
  <div class="box has-text-centered">
    <form action="/user-home-customize" id="room-form" method="POST">
      <div class="block">
        <h3 class="title has-text-black">Customize <%= room_info.roomName%></h3>
      </div>
      <hr class="login-hr">
      <input class="input is-large" type="hidden" name="email" id="email" value="<%= user_info.email%>">
      <div class="field">
        <div class="select is-large is-fullwidth" type="number" name="layout1" id="layout1">
          <select type="number" name="layout1" id="layout1">
            <option value="<%= room_info.roomLayout[0]%>">Show your info</option>
            <option value="1">Yes</option>
            <option value="0">No</option>
          </select>
        </div>
      </div>
      <div class="field">
        <div class="control">
          <input class="input is-large" type="text" name="message" id="message" value="<%= room_info.message%>" placeholder="Message for visitors">
        </div>
      </div>
      <div class="field">
        <div class="select is-large is-fullwidth" type="number" name="layout2" id="layout2">
          <select type="number" name="layout2" id="layout2">
            <option value="<%= room_info.roomLayout[1]%>">Change blue model</option>
            <option value="0">Cube</option>
            <option value="1">Cone</option>
            <option value="2">Torus</option>
          </select>
        </div>
      </div>
      <div class="field">
        <div class="select is-large is-fullwidth" type="number" name="layout3" id="layout3">
          <select type="number" name="layout3" id="layout3">
            <option value=<%= room_info.roomLayout[2]%>>Change sphere color</option>
            <option value="0">Red</option>
            <option value="1">Green</option>
            <option value="2">Blue</option>
          </select>
        </div>
      </div>

      <button class="button is-block is-info is-large is-fullwidth">Update<i class="fa fa-sign-in" aria-hidden="true"></i></button>
    </form>
  </div>
  <p class="has-text-white">
    <a href="../">Need Help?</a>
  </p>
</div>

</body>

<script src="https://www.gstatic.com/firebasejs/9.6.4/firebase-app-compat.js"></script>
<script src="https://www.gstatic.com/firebasejs/9.6.4/firebase-auth-compat.js"></script>

</html>